@charset "utf-8";

/* Desktop */
html, body {
    height: 100%;
    font-family: 'Apple SD Gothic Neo Medium', 'Malgun Gothic', 'NanumGothic', Arial, verdana;
    margin: 0;
}

a:link, a:visited, a:active {
    color: #666;
    text-decoration: none;
}

dl, ul, ol, li, p {
    list-style: none;
    margin: 0;
    padding: 0
}

label {
    display: inline-block;
    width: 5em;
}

h1 {
    margin: 0;
}

.home {
    margin: 0;
    padding: 0;
}

#profile {
    height: auto;
    padding: 30px;
    background-color: #FAFAFA;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    position: relative;
    display: block;
}

#profile .image {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    border-color: #03A9F4;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-image: url('https://graph.facebook.com/suemiere.b/picture?type=large');
    background-repeat: no-repeat;
    background-position: center;
}

#profile .description {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #212121;
    font-size: 10pt;
}

#profile .description h1 {
    margin: 15px;
    font-weight: 800;
    color: #03A9F4;
    font-size: 24pt;
}

#main {
    width: auto;
    height: 100%;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(158, 158, 158, 0.1);
}

ul.gNow {
    width: 450px;
    height: 100%;
    float: left;
    padding: 0;
}

ul.gNow li {
    width: 430px;
    float: left;
    list-style: none;
    padding: 10px;
}

div.card {
    background: #fff;
    width: 400px;
    position: relative;
    padding: 15px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
    font-family: Open Sans;
    color: #444;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

div.card p {
    margin: 0 0 15px 0;
}

div.card p.card-title {
    font-size: 28px;
}

div.card p.url {
    border-top: 1px solid #e5e5e5;
    background-image: url('http://pororysue.github.com/css/images/url.png');
    background-repeat: no-repeat;
    padding: 6px 0 0 30px;
    height: 30px;
    display: block;
    margin-bottom: -10px;
}

div.card p.url a {
    color: #04bff4;
    text-decoration: none;
    top: 4px;
    width: 385px;
    display: block;
    position: relative;
}

div.card img.full {
    width: 430px;
    margin: 0 0 15px -15px;
}